<div class="container">
    <div class="image"><img src="../../../assets/img/person-icon.png" alt="icon" /></div>
    <div class="content">
        <h2>Password assistance</h2>
        <p *ngIf="!this.reseted">Enter the username you registered with</p>
        <div *ngIf="this.reseted">
            <p>You will receive email with link to reset your password onto email associated with your account.</p>
            <p>If you didnt receive email please contact administrator.</p>
        </div>
        <form [formGroup]="forgotPasswordForm" *ngIf="!this.reseted" (ngSubmit)="onSubmit()">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="userName" placeholder="username"/>
            <button type="submit" [disabled]="!forgotPasswordForm.valid">Continue</button>
        </form>
    </div>
    
</div>