<div class="container">
    <div class="image"><img src="../../../assets/img/person-icon.png" alt="icon" /></div>
    <div class="content">
        <h2>Password assistance</h2>
        <p>Enter your new password</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password"/>
            <label for="confirmpassword">Repeat password</label>
            <input type="password" id="confirmpassword" formControlName="confirmPassword"/>
            <button type="submit" [disabled]="!resetPasswordForm.valid">Continue</button>
        </form>
    </div>
    
</div>