EducationApp.sln
*.cache
EducationApp.BusinessLogicLayer/obj/Debug/net5.0/EducationApp.BusinessLogicLayer.assets.cache
EducationApp.BusinessLogicLayer/obj/Debug/net5.0/EducationApp.BusinessLogicLayer.csprojAssemblyReference.cache
EducationApp.PresentationLayer/obj/Debug/net5.0/EducationApp.PresentationLayer.csprojAssemblyReference.cache
EducationApp.Shared/obj/Debug/net5.0/EducationApp.Shared.assets.cache
EducationApp.Shared/obj/Debug/net5.0/EducationApp.Shared.csprojAssemblyReference.cache
