<div class="container">
    <h2>My profile</h2>
    <div class="image"><img src="../../../assets/img/person-icon.png" alt="icon" /></div>
    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
        <label for="username">Your username</label>
        <input type="text" id="username" formControlName="userName">
        <label for="firstName">Your First Name</label>
        <input type="text" id="firstName" formControlName="firstName">
        <label for="lastName">Your Last Name</label>
        <input type="text" id="lastName" formControlName="lastName">
        <label for="email">Your Email</label>
        <input type="email" id="email" formControlName="email">
        <div class="button">
            <button type="submit">Sign Up</button>
        </div>
    </form>
    
</div>